@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  background-color: #EBEBEA;
}

html,

header {
  text-align: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  height: 400px;
  color: #ffffff;
  background-size: cover;
  background-position: center center;
  background-image: url(img/a.jpg);
  text-shadow: 2px 2px black;
  text-shadow: -2px 2px black;
  text-shadow: 2px -2px black;
  text-shadow: -2px -2px black;
}

.hp p {
  padding-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  height: auto;
}

nav {
  font-size: 25px;
  padding-top: 100px;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a:visited {
  color: blue;
}

ul {
  list-style-type: none;
}

nav ul {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 40px;
}

.templete {
  text-align: left;
  color: #000000;
  padding: 30px;
  list-style-type: none;
  border-top: 10px solid #ffffff;
}

.templete img {
  height: 300px;
  width: 450px;
  float: left;
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
}

h2 {
  text-align: center;
  padding-left: 30px;
  margin-bottom: 50px;
  font-size: 40px;
  height: 80px;
  border-bottom: 5px solid #D5D5D5;
}

.op {
  font-size: 20px;
  padding-left: 30px;
  line-height: 2.5;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.sen p {
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 500px);
  height: 60%;
  margin: 24px 0;
  margin-left: -80px;
  padding: 24px;
}

.art {
  height: 400px;
  border-bottom: 5px solid #D5D5D5;
  margin-bottom: 100px;
}

.art p {
  font-size: 20px;
  line-height: 2;
}

h3 {
  text-align: center;
  height: 100px;
  font-size: 30px;
  margin-bottom: 40px;
}

.spot {
  font-size: 20px;
  color: red;
  padding-bottom: 30px;
  padding-left: 500px;
}

.intro {
  height: 300px;
  line-height: 3;
}

h4 {
  padding-top: 20px;
  padding-bottom: 60px;
}

.des {
  font-size: 20px;
  padding-left: 500px;
  line-height: 4; 
}

.pic img {
  padding-left: 50px;
  height: 100%;
  width: 30%
}

.art2 {
  height: 400px;
  margin-bottom: 40px;
}

.products {
  padding-bottom: 200px;
}

footer {
  padding-left: 30px;
  padding-right: 30px;
}

.foot {
 border-top: 5px solid #D5D5D5;
}